.chat{
    display: flex;
    flex-direction: row;
}

.home{
    display: flex;
}

.engaged-chats{
    flex-grow: 1;
}
.messages{
    flex-grow: 2;
}
.chat-ads{
    flex-grow: 1;
}

.contacts{
    flex-grow: 2;
}
.shopping{
    flex-grow: 5;
    position: relative;
}
.work{
    flex-grow: 3;
    display: inline;
}
.ads{
    flex-grow: 2;
}

@media screen and (max-width:768px){
    .home{
        display: flex;
        flex-direction: column;
    }
    .contacts{
        display: none;
        border: none;
    }
    .shopping{
        border: none;
    }.work{
        border: none;
        display: list-item;
    }
    .ads{
        border: none;
    }
}