.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    background-color: white;
}
.avatar-small{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
}

.message-image{
    width:75px;
    height: 75px;
    background-color: white;
    border-radius: 2px;
}

.good-image{
    width:200px;
    height: 200px;
    margin: 5px 5px 5px 5px;
}

.user-img-big{
    width:300px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border:2px solid white;
}
svg.placeholder {
    max-width: 100%;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggZD0iTTAgNCBMMCAyOCBMMzIgMjggTDMyIDQgeiBNNCAyNCBMMTAgMTAgTDE1IDE4IEwxOCAxNCBMMjQgMjR6IE0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==") no-repeat center hsl(0, 0%, 80%);
    background-size: calc(100%/3);
  }